.heading {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding: 5%;
  text-align: center;
  font-size: 20;
  color: white;
  width: 90%;
  margin: 0;

  &-small {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17;
    color: #282c34;
    padding: 1%;
    width: 98%;
    margin: 0;
  }
}
.div {
  &-theme-light {
      background-color: #ffffffb3;
  }
  &-theme-dark {
      background-color: #909090;
  }
}
.changeTheme {
  position: absolute;
  top: 1%;
  left: 92%;
  background-color: #282c34;
  border: none;
  color: white;
}

.link {
  &-theme-light {
      background-color: white;
      color: #282c34;
      transition-duration: 0.5s;
      text-decoration: #282733;

      :hover{
          border-bottom: 1px solid #282c34;
          text-decoration: none;
      }
  }

  &-theme-dark {
      background-color: #282c34;
      color: #ffffffb3;
      transition-duration: 0.5s;
      text-decoration: none;
  }
}

.spanTask {
  display: flex;
  flex-direction: row;
&-theme-light {
    border-radius: 20px;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background-color:#FFE8B2;
    transition-duration: 0.5s;
}
&-theme-dark {
    border-color: #121212;
    border-radius: 4px;
    width: 47%;
    margin: 10px;
    padding: 0.5%;
    background-color: #282c34;
    color: #ffffffb3;
    transition-duration: 0.5s;
}
}

.mistake {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-family:'Segoe UI';
  width: 100%;
  &-small {
    margin-top: 2%;
    font-size: 30px;
  }
}

.headingLink {
  display: flex;
  justify-content: left;
  padding: 5%;
  text-align: center;
  color: #282c34;
  padding: 1%;
  width: 90%;
  margin-left: 5%;
}